/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(1, 0, 61, 0.966)); /* Cria um degradê vertical de azul para claro */
    color: white; /* Altera a cor do texto para branco para melhorar a legibilidade */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

header h1 {
    margin-bottom: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.ranking {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribui os rankings para as extremidades */
    margin-top: 20px;
}

.ranking-list {
    width: 45%; /* Define uma largura para cada lista para manter a responsividade */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.61), rgba(59, 59, 59, 0.267));
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 0 10px; /* Espaçamento entre os quadrados */
}

.ranking-list div {
    margin-bottom: 20px;
}

.ranking-list ul {
    list-style: none;
    padding: 0;
    color: black; /* Cor do texto para preto */
}

.ranking-list li {
    margin-bottom: 10px;
}

#start-button {  
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;    
}

#back-button {            
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .buttons button {
        font-size: 14px;
        padding: 10px;
    }

    #start-button, #back-button {
        padding: 10px;
        font-size: 18px;
    }

    .image-container img {
        max-width: 80%; /* Ajusta a largura máxima da imagem para 80% */
    }

    .ranking {
        flex-direction: column; /* Empilha os rankings verticalmente em telas menores */
        align-items: center;
    }

    .ranking-list {
        width: 100%; /* Ajusta a largura para 100% em telas menores */
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .buttons button {
        font-size: 12px;
        padding: 8px;
    }

    #back-button {
        position: absolute;
        top: 20px;
        left: 20px !important; /* Adicione !important */
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
    }
    
    /* Defina um tamanho fixo para as imagens */
    .image-container img {
        width: 300px; /* Ajuste o valor conforme necessário */
        height: 400px; /* Ajuste o valor conforme necessário */
        object-fit: cover; /* Garante que a imagem preencha a área definida */
        margin-bottom: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    #start-button, #back-button {
        padding: 8px;
        font-size: 16px;
    }

    .image-container img {
        max-width: 150%; /* Ajusta a largura máxima da imagem para 100% */
    }

    .ranking-list div {
        margin-bottom: 10px;
    }

    .ranking-list li {
        margin-bottom: 5px;
    }
}
